<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>디자인따위 신경쓰지 않는다.</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
    <link rel="stylesheet" type="text/css" href="../static/main.css">
</head>
<body>
    <header>
        <div class="header-group clearfix">
            <div class="category float--left">
                <ul class="main-menu">
                    <li><a href="/">home</a></li>
                    <li><a href="board">board</a></li>
                </ul>
            </div>
            <div class="sign-box float--right">
                <button type="button" class="btn"><a href="signup">SignUp</a></button>
                <button type="button" class="btn"><a href="signin">SignIn</a></button>
            </div>
        </div>
    </header>
    <section class="title">
        <p>여기는 게시판 화면입니당!!</p>
    </section>
</body>

</html>