<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <title>디자인따위 신경쓰지 않는다.</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
    <link rel="stylesheet" type="text/css" href="../static/main.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script>
        $(document).ready(function () {
            console.log('onload')
            showBoard();
        })

        function pushPostBtn() {
            window.location.href = 'post_board';
        }

        function showBoard() {
            $.ajax({
                type: 'GET',
                url: '/board/show?offset=1&limit=5',
                data: {},
                success: function (response) {
                    if (response['result'] == 'success') {
                        let postList = response['post_list'];
                        console.log(postList);
                        for (let i = 0; i < postList.length; i++) {
                            let no = i + 1
                            let title = postList[i]['postTitle']
                            let postBody = postList[i]['postBody']
                            let like = postList[i]['like']
                            let time = postList[i]['time']
                            let userId = postList[i]['userId']
                            let postHtml = `<tr>
                                                <th scope="row">${no}</th>
                                                <td class="post-title">${title}</td>
                                                <td>${userId}</td>
                                                <td>${time}</td>
                                                <td>${like}</td>             
                                            </tr>`
                            $('#pivot').append(postHtml);
                        }
                    } else {
                        console.log('no nono');
                    }
                }
            })
        }

        function showPagination(offset, limit) {
            $('#pivot').empty();
            $.ajax({
                type: 'GET',
                url: `/board/show?offset=${offset}&limit=${limit}`,
                data: {},
                success: function (response) {
                    if (response['result'] == 'success') {
                        let postList = response['post_list'];
                        for (let i = 0; i < postList.length; i++) {
                            let no = offset + i
                            let title = postList[i]['postTitle']
                            let postBody = postList[i]['postBody']
                            let like = postList[i]['like']
                            let time = postList[i]['time']
                            let userId = postList[i]['userId']
                            let postHtml = `<tr>
                                                <th scope="row">${no}</th>
                                                <td class="post-title">${title}</td>
                                                <td>${userId}</td>
                                                <td>${time}</td>
                                                <td>${like}</td>             
                                            </tr>`
                            $('#pivot').append(postHtml);
                        }
                    } else {
                        console.log('no nono');
                    }
                }
            })
        }
    </script>
</head>

<body>
    <header>
        <div class="header-group clearfix">
            <div class="category float--left">
                <ul class="main-menu">
                    <li><a href="/">home</a></li>
                    <li><a href="board">board</a></li>
                </ul>
            </div>
            <div class="sign-box float--right">
                <button type="button" class="btn btn-primary"><a href="signup">SignUp</a></button>
                <button type="button" class="btn btn-primary"><a href="signin">SignIn</a></button>
            </div>
        </div>
    </header>
    <section class="section-table">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td class="table-no">No</td>
                    <td class="table-title">제목</td>
                    <td class="table-user">작성자</td>
                    <td class="table-time">작성시간</td>
                    <td class="table-list">추천수</td>
                </tr>
            </thead>
            <tbody id="pivot">
                <!-- 입력되는 부분 -->
            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
              </li>
              <li class="page-item"><a class="page-link" href="board">1</a></li> <!-- 1, 5-->
              <li class="page-item"><a class="page-link" href="#" onclick="showPagination(6, 10)">2</a></li>
              <li class="page-item"><a class="page-link" href="#" onclick="showPagination(11, 15)">3</a></li>
              <li class="page-item"><a class="page-link" href="#" onclick="showPagination(16, 20)">4</a></li>
              <li class="page-item">
                <a class="page-link" href="#">Next</a>
              </li>
            </ul>
          </nav>

    </section>
</body>

</html>