<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <title>디자인따위 신경쓰지 않는다.</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
    <link rel="stylesheet" type="text/css" href="../static/main.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
    <script src="../static/main.js"></script>
    <script>
        $(document).ready(function () {
            console.log('onload');
            console.log('read_html');
            // $('.get-post').empty();
            postDetail();
        })

        function getParam(key) {
            return new URLSearchParams(location.search).get(key);
        }

        function postDetail() {
            let title = getParam('title');
            console.log(`TT : ${title}, type : ${typeof (title)}`)
            $.ajax({
                type: 'GET',
                url: `/board/read/get?title=${title}`,
                data: {},
                success: function (response) {
                    if (response['result'] == 'success') {
                        let getPost = response['post'];
                        let userId = getPost['userId'];
                        let postTitle = getPost['postTitle'];
                        let postBody = getPost['postBody'];
                        let postHtml = `<ul>
                                            <li>
                                                <p>작성자</p><p class="get-user">${userId}</p>
                                            </li>
                                            <li>
                                                <p>게시물 제목</p><p class="get-title">${postTitle}</p>
                                            </li>
                                            <li>
                                                <p>게시물 내용</p><p class="get-body">${postBody}</p>
                                            </li>
                                        </ul>`;
                        $('.get-post').append(postHtml);
                    } else {
                        alert('우선 실패');
                    }
                }
            })
        }

        function backList() {
            history.back();
        }

        function delPost() {
            let user = $('.get-user').text();
            let postTitle = $('.get-title').text();
            console.log(user, postTitle);
            $.ajax({
                type: 'DELETE',
                url: `/board/del?title=${postTitle}&user=${user}`,
                data: {},
                success: function (response) {
                    if (response['result'] == 'success') {
                        alert('삭제');
                        backList();
                    } else {
                        alert('삭제실패!');
                    }
                }
            })
        }

        // function updatePost() {
            // 먼저 제목으로 해당 포스트를 찾아오자
            // let title = getParam('title');
            // $.ajax({
            //     type: 'GET',
            //     url: `/board/read/get?title=${title}`,
            //     data: {},
            //     success: function (response) {
            //         if (response['result'] == 'success') {
            //             let getPost = response['post'];
            //             let userId = getPost['userId'];
            //             let postTitle = getPost['postTitle'];
            //             let postBody = getPost['postBody'];
            //             let postHtml = `<ul>
            //                                 <li>
            //                                     <p>작성자</p><p class="get-user">${userId}</p>
            //                                 </li>
            //                                 <li>
            //                                     <p>게시물 제목</p><input ${postTitle}
            //                                 </li>
            //                                 <li>
            //                                     <p>게시물 내용</p><p class="get-body">${postBody}</p>
            //                                 </li>
            //                             </ul>`;
            //             $('.get-post').append(postHtml);
            //         } else {
            //             alert('우선 실패');
            //         }
            //     }
            // })
            // window.location.href = '/board/update';
        // }
        // function updatePost() {
        //     let status = $('#update-post').text();
        //     if (status == '게시물 수정') {
        //         let user = $('.get-user').text();
        //         let postTitle = $('.get-title').text();
        //         let postBody = $('.get-body').text();
        //         console.log(postTitle, postBody, user);
        //         $('.get-post').empty();
        //         let postHtml = `<ul>
        //                         <li>
        //                             <p>작성자</p><p class="get-user">${user}</p>
        //                         </li>
        //                         <li>
        //                             <p>게시물 제목</p><input type="text" id="post-head" value="${postTitle}">
        //                         </li>
        //                         <li>
        //                             <p>게시물 내용</p><textarea id="post-body">${postBody}</textarea>
        //                         </li>
        //                     </ul>`;
        //         $('.get-post').append(postHtml);
        //         $('#update-post').text('게시물 등록');
        //     } else {
        //         let user = $('.get-user').text();
        //         let postTitle = $('.get-title').val();
        //         let postBody = $('.get-body').val();
        //         // 변경하고자 하는 제목
        //         let title = getParam('title');
        //         console.log(`user : ${user}, tite : ${postTitle}, body : ${postBody}, oldtit : ${title}`);
        //         $.ajax({
        //             type: 'PATCH',
        //             url: `/board/patch?title=${title}`,
        //             data: {
        //                 'user': user,
        //                 'title': postTitle,
        //                 'body': postBody
        //             },
        //             success: function (response) {
        //                 if (response['result'] == 'success') {
        //                     alert('일단 패치성공')
        //                 } else {
        //                     alert('일단실패')
        //                 }
        //             }
        //         })
        //     }
        // }
    </script>
</head>

<body>
    <header>
        <div class="header-group clearfix">
            <div class="category float--left">
                <ul class="main-menu">
                    <li><a href="/">home</a></li>
                    <li><a href="board">board</a></li>
                </ul>
            </div>
            <div class="sign-box float--right">
                <div id="log-in">
                    <button type="button" class="btn btn-primary" data-toggle="modal"
                        data-target="#SignUpModal">SignUp</a></button>
                    <button type="button" class="btn btn-primary" data-toggle="modal"
                        data-target="#SignInModal">SignIn</a></button>
                </div>
                <button type="button" id="log-out" class="btn btn-primary" onclick="logOut()">Logout</a></button>
            </div>
        </div>
    </header>
    <section class="title">
        <p>여기는 게시판 디테일 화면입니당!!</p>
    </section>
    <section>
        <div class="add-post-wrap">
            <div class="get-post">
                <!-- 추가되는 부분 -->
            </div>
            <button type="button" class="btn btn-primary" onclick="backList()">목록으로</button>
            <button type="button" id="update-post" class="btn btn-primary">게시물 수정</button>
            <button type="button" class="btn btn-primary" onclick="delPost()">게시물 삭제</button>
        </div>
    </section>
</body>
<!-- 회원가입 모달 -->
<div class="modal fade" id="SignUpModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Sign Up</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">아이디</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="signup-id" placeholder="아이디를 입력하세요">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">비밀번호</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="signup-pw" placeholder="비밀번호를 입력하세요">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">비밀번호 확인</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="signup-pw-2" placeholder="비밀번호를 입력하세요">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="userSignup()">SignUp</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- 로그인 모달 -->
<div class="modal fade" id="SignInModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Sign In</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">아이디</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="signin-id" placeholder="아이디를 입력하세요">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">비밀번호</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="signin-pw" placeholder="비밀번호를 입력하세요">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="userSignin()">Sign In</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

</html>