<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>디자인따위 신경쓰지 않는다.</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
    <link rel="stylesheet" type="text/css" href="../static/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script>
        $(document).ready(function(){
            console.log('onload')
        })

        function postUserSignin(){
            let userId = $('#user-id').val();
            let userPw = $('#user-password').val();
            $.ajax({
                type: 'POST',
                url: '/user/signin',
                data: {
                    'userId' : userId,
                    'userPw' : userPw
                },
                success:function(response){
                    if (response['result'] == 'success'){
                        localStorage.setItem('token', response['access_token'])
                        alert('Storage_token_Save!!');
                    } else {
                        alert('no ok')
                    }
                }
            })
        }
    </script>
</head>
<body>
    <header>
        <div class="header-group clearfix">
            <div class="category float--left">
                <ul class="main-menu">
                    <li><a href="127.0.0.0:5000/">home</a></li>
                    <li><a href="localhost:5000/board" >board</a></li>
                </ul>
            </div>
            <div class="sign-box float--right">
                <button type="button" class="btn"><a href="localhost:5000/user/signup">SignUp</a></button>
                <button type="button" class="btn"><a href="localhost:5000/user/signin">SignIn</a></button>
            </div>
        </div>
    </header>
    <section class="title">
        <p>여기는 로그인 화면입니다.</p>
    </section>
    <section class="input-data">
        <label>
            아이디
        </label>
        <input type="text" id="user-id">
        <label>
            비밀번호
        </label>
        <input type="password" id="user-password">
        <button type="button" class="btn" onclick="postUserSignin()">SignIn</button>
    </section>
</body>

</html>